stages:
  - build
  - docker
  - deploy

variables:
  IMAGE_NAME: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  IMAGE_LATEST: $CI_REGISTRY_IMAGE:latest

build_frontend:
  stage: build
  image: node:20-alpine
  cache:
    paths:
      - frontend/node_modules/
  script:
    - cd frontend
    - npm ci
    - npm run build
  artifacts:
    paths:
      - frontend/dist/
    expire_in: 1 hour

docker_build:
  stage: docker
  image: docker:24
  services:
    - docker:24-dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $IMAGE_NAME -t $IMAGE_LATEST ./frontend
    - docker push $IMAGE_NAME
    - docker push $IMAGE_LATEST
  only:
    - main

update_k8s_manifest:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache git
    - git config --global user.email "ci@gitlab.com"
    - git config --global user.name "GitLab CI"
  script:
    - sed -i "s|registry.gitlab.com/bouzakri.badr/coach_app:.*|$IMAGE_NAME|g" k3s/deployment.yaml
    - git add k3s/deployment.yaml
    - git diff --staged --quiet || git commit -m "Update image to $CI_COMMIT_SHORT_SHA [skip ci]"
    - git push https://oauth2:${CI_PUSH_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git HEAD:main
  only:
    - main