services:
  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    restart: always
    depends_on:
      - coach-app-backend-service

  coach-app-backend-service:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/coach_app
      - JWT_SECRET=wattrelos_fc_secret_key_2025
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data:
