@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background: radial-gradient(circle at top left, #1e293b, #0f172a);
  color: var(--color-slate-50);
  min-height: 100vh;
}